<!DOCTYPE html>
<html>
<head>
  <title>Craig Loewen</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <%= stylesheet_link_tag 'style' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <% if browser.ie? %>
  <style>
    .et-hero-tabs-container {
      position: relative;
        padding-left: - 1000px;
   }

   .mainpicture {
      max-height: 70vh;
      width: auto;
   }

 </style>
 <% end %>

</head>

<body>
  <%= yield %>
</body>
</html>
